if player
  .details-wrapper
    if player.id
      .action-buttons
        a(href="#").btn.btn-add Add Player
        if !player.is_god
          a(href="#").btn.btn-edit Edit Player
          a(href="#").btn.btn-delete Delete Player

    if player.picture && player.id
      .player-picture
        img(src="images/players/#{player.picture}")

    form.player-details(action="#")
      .item-container.form-error.hide
      .item-container
        .title Name
        .value
          input.input-name.readonly(type="text", value="#{player.name}", readonly="readonly")

      .item-container
        .title Fullname
        .value
          input.input-fullname.readonly(type="text", value="#{player.fullname}", readonly="readonly")

      .item-container
        .title Age
        .value
          input.input-age.readonly(type="number", value="#{player.age}", readonly="readonly")

      .item-container
        .title Jersey
        .value
          input.input-jersey.readonly(type="number", value="#{player.jersey}", readonly="readonly")
      .item-container
        .title Url
        .value
          input.input-url.readonly(type="url", value="#{player.url}", readonly="readonly")

      if !player.is_god
        button.btn.btn-save.hide(disabled="disabled") Save Changes

